<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="PromotionsVM.GetSearchParam('SearchCode').Value" ng-change="PromotionsVM.searchPromotions()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="PromotionsVM.searchPromotions()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Promotions').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('Type')">Type  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Type'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Type'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Type'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('Name')">Name  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Name'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Name'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Name'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('Description')">Description  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Description'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Description'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Description'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('StartDate')">StartDate  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StartDate'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StartDate'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StartDate'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('StopDate')">StopDate  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StopDate'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StopDate'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='StopDate'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('RequireCoupon')">RequireCoupon  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='RequireCoupon'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='RequireCoupon'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='RequireCoupon'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('Position')">Position  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Position'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Position'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Position'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="PromotionsVM.startSort('Status')">Status  
                              <div ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Status'" class="pull-right">
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Status'&&PromotionsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="PromotionsVM.SortedField!=null&&PromotionsVM.SortedField.Name=='Status'&&PromotionsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in PromotionsVM.ArrPromotion">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupPromotion(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removePromotion(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.Type}}
                       </td>
                       <td class="col-md-2">
                           {{item.Name}}
                       </td>
                       <td class="col-md-2">
                           {{item.Description}}
                       </td>
                      <td class="col-md-1">
                           {{item.StartDateF}}
                      </td>
                      <td class="col-md-1">
                           {{item.StopDateF}}
                      </td>
                       <td class="col-md-2">
                           {{item.RequireCoupon}}
                       </td>
                       <td class="col-md-2">
                           {{item.Position}}
                       </td>
                       <td class="col-md-1">
                           <i ng-show="item.Status==true" class="fa fa-check text-success"></i>
                           <i ng-show="item.Status==false" class="fa fa-square text-success"></i>
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default" ng-click="startAddPopupPromotion()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ PromotionsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{PromotionsVM.Paging.PageIndex}} / {{PromotionsVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: PromotionsVM.Paging.PageIndex==1}"><a ng-click="PromotionsVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in PromotionsVM.Paging.Pages" ng-class="{active: page == PromotionsVM.Paging.PageIndex}">
                                                <a ng-click="PromotionsVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:PromotionsVM.Paging.PageIndex >= PromotionsVM.Paging.TotalPages}"><a ng-click="PromotionsVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupPromotion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Promotion</h5>
                </div>
                <div class="modal-body" ng-if="PromotionVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="PromotionVM.Processing.GetProcessing('Promotion').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="PromotionVM.Promotion.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlType">Type</label>
                               <input id="ctrlType" type="text" ng-model="PromotionVM.Promotion.Type"  ng-change="onChangePromotion_Type(PromotionVM.Promotion)" ng-class="[{'validateinput':ValManager().Get('Type').IsValid==false}]" class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                    <span ng-visible="PromotionVM.Promotion.valmanager.Get('Type').IsValid==false&&PromotionVM.Promotion.valmanager.Get('Type').ValMsg!=''">{{PromotionVM.Promotion.valmanager.Get('Type').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlName">Name</label>
                               <input id="ctrlName" type="text" ng-model="PromotionVM.Promotion.Name"  ng-change="onChangePromotion_Name(PromotionVM.Promotion)" ng-class="[{'validateinput':ValManager().Get('Name').IsValid==false}]" class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                    <span ng-visible="PromotionVM.Promotion.valmanager.Get('Name').IsValid==false&&PromotionVM.Promotion.valmanager.Get('Name').ValMsg!=''">{{PromotionVM.Promotion.valmanager.Get('Name').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlDescription">Description</label>
                           <input id="ctrlDescription" type = "text" ng-model = "PromotionVM.Promotion.Description"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label  class="control-label" for="ctrlStartDate">StartDate</label>
                               <input id="ctrlStartDate" type="date" ng-model="PromotionVM.Promotion.StartDate" ng-change="onChangePromotion_StartDate()" ng-class="[{'validateinput':PromotionVM.Promotion.valmanager.Get('StartDate').IsValid==false}]"  class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                   <span ng-visible="PromotionVM.Promotion.valmanager.Get('StartDate').IsValid==false&&PromotionVM.Promotion.valmanager.Get('StartDate').ValMsg!=''">{{PromotionVM.Promotion.valmanager.Get('StartDate').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label  class="control-label" for="ctrlStopDate">StopDate</label>
                               <input id="ctrlStopDate" type="date" ng-model="PromotionVM.Promotion.StopDate" ng-change="onChangePromotion_StopDate()" ng-class="[{'validateinput':PromotionVM.Promotion.valmanager.Get('StopDate').IsValid==false}]"  class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                   <span ng-visible="PromotionVM.Promotion.valmanager.Get('StopDate').IsValid==false&&PromotionVM.Promotion.valmanager.Get('StopDate').ValMsg!=''">{{PromotionVM.Promotion.valmanager.Get('StopDate').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlRequireCoupon">RequireCoupon</label>
                           <input id="ctrlRequireCoupon" type = "text" ng-model = "PromotionVM.Promotion.RequireCoupon"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlPosition">Position</label>
                           <input id="ctrlPosition" type="number" ng-model = "PromotionVM.Promotion.Position" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-1">
                           <label class="control-label" for="ctrlStatus">Status</label>
                           <input id="ctrlStatus" type="checkbox" class="i-checks" ng-model="PromotionVM.Promotion.Status" />
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="PromotionVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupPromotion()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
