*~
*.bak
*.log
*.swp
*.tmp
bower_components
node_modules
vendor/
.tmp/
.sass-cache/
.env
config.params.php

####################
# Editor #
####################
.idea/
.buildpath
.project
.settings/
nbproject/
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

####################
# OS #
####################
._*
.DS_Store
Thumbs.db