<div ng-init="ctrl.initData()">
    <div class="row titleholder">
        <div class="col-md-4">
            <div class="moduletitle"></div>
        </div>
        <div class="pull-right">
            <a class="btn btn-primary" ng-show="IncomeVM.Income.isedit==false&&IncomeVM.Income.allowedit==true"
                    ng-click="startEditIncome() "><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</a>
            <a class="btn btn-primary" ng-show="IncomeVM.Income.isedit==true" ng-click="finishEditIncome()"><i
                    class="glyphicon glyphicon-ok"></i>&nbsp;Save</a>&nbsp;
            <a class="btn btn-primary" ng-show="IncomeVM.Income.isedit==true" ng-click="cancelEditIncome()"><i
                    class="glyphicon glyphicon-remove"></i>&nbsp;Cancel</a>
            &nbsp;<a class="btn btn-primary" ng-show="IncomeVM.Income.allowdelete==true" ng-click="removeIncome()"><i
                class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
            &nbsp;<a class="btn btn-primary" ui-sref="income.management"><i
                class="glyphicon glyphicon-chevron-left"></i>&nbsp;Back</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="Processing.GetProcessing('Income').Value">
                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                    <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
                </div>
            </div>
        </div>
    </div>
    <div class="row formsection">
        <div class="col-md-12">
            <div class="row" ng-show="IncomeVM.Income.isedit==false">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="control-label">Customer</label>
                        {{IncomeVM.Income.CustomerName}}
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Invoice No</label>
                        {{IncomeVM.Income.InvoiceNo}}
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Invoice Date</label>
                        {{IncomeVM.Income.InvoiceDateF}}
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">Payment Type</label>
                        {{IncomeVM.Income.Type}}
                    </div>
                </div>
            </div>
            <div class="row" ng-show="IncomeVM.Income.isedit==true">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="ctrlCustomerId">Customer</label>
                            <ui-select id="ctrlCustomerId" ng-model="IncomeVM.Income.CustomerId" theme="bootstrap"
                                    ng-change="onChangeIncome_CustomerId(IncomeVM.Income)">
                                <ui-select-match placeholder="Select customer" >{{$select.selected.DisplayName}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="obj.Id as obj in CustomersVM.ArrCustomer | filter: {DisplayName: $select.search}">
                                    <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="IncomeVM.Income.valmanager.Get('CustomerId').IsValid==false&&IncomeVM.Income.valmanager.Get('CustomerId').ValMsg!=''">{{IncomeVM.Income.valmanager.Get('CustomerId').ValMsg}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="control-label" for="ctrlInvoiceNo">Invoice No</label>
                            <input id="ctrlInvoiceNo" type="text" ng-model="IncomeVM.Income.InvoiceNo"
                                    class="form-control col-md-12"/>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label" for="ctrlInvoiceDate">Invoice Date</label>
                            <input id="ctrlInvoiceDate" type="date" ng-model="IncomeVM.Income.InvoiceDate"
                                    class="form-control col-md-12"
                                    ng-change="onChangeIncome_InvoiceDate(IncomeVM.Income)"
                                    ng-class="[{'validateinput':ValManager().Get('InvoiceDate').IsValid==false}]"/>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="IncomeVM.Income.valmanager.Get('InvoiceDate').IsValid==false&&IncomeVM.Income.valmanager.Get('InvoiceDate').ValMsg!=''">{{IncomeVM.Income.valmanager.Get('InvoiceDate').ValMsg}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-6">
                                <label class="control-label" for="ctrlUpdateStock">Update Stock</label><br/>
                                <input id="ctrlUpdateStock" type="checkbox" ng-model="IncomeVM.Income.UpdateStock"
                                        icheck/>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="ctrlType">Payment Type</label><br/>
                                <select id="ctrlType" ng-model="IncomeVM.Income.Type" class="form-control col-md-12">
                                    <option value="Nets">Nets</option>
                                    <option value="Credit card">Credit card</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row formsection">
        <div class="col-md-12"><label class="formsectiontitle">Income Details</label>
            <a class="btn btn-default pull-right" ng-show="IncomeVM.Income!=null&&IncomeVM.Income.isedit"
                    ng-click="startAddPopupIncomeDetail()"><i class="glyphicon glyphicon-plus"
                    title="Add Income Detail "></i> &nbsp; Add Income Detail</a>
        </div>
        <div class="col-md-12" style="color: Red">
            <span ng-visible="IncomeVM.Income.valmanager.Get('DetailLength').IsValid==false&&IncomeVM.Income.valmanager.Get('DetailLength').ValMsg!=''">{{IncomeVM.Income.valmanager.Get('DetailLength').ValMsg}}</span>
        </div>
        <div class="col-md-12">
            <div id="gridIncomeDetail" class='contenttable'>
                <table width="100%" class="table table-bordered table-hover" style="min-width:800px;">
                    <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align:center;">Product
                        </td>
                        <td class="k-header" style="text-align:center;">Item Price
                        </td>
                        <td class="k-header" style="text-align:center;">Quantity
                        </td>
                        <td class="k-header" style="text-align:center;">Discount
                        </td>
                        <td class="k-header" style="text-align:center;">Total
                        </td>
                        <td class="k-header" style="text-align:center;">Note
                        </td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in IncomeDetailsVM.ArrIncomeDetail">
                    <tr ng-show="item.isedit==false&&item.editmode!='Delete'"
                            ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td style="text-align:center" class="col-md-1"></td>
                        <td class="col-md-2">
                            {{item.ProductName}}
                        </td>
                        <td class="col-md-2">
                            $ {{item.UnitPrice}}
                        </td>
                        <td class="col-md-2">
                            {{item.Quantity}}
                        </td>

                        <td class="col-md-2">
                            {{item.Discount}}
                        </td>
                        <td class="col-md-2">
                            $ {{item.Total}}
                        </td>
                        <td class="col-md-4">
                            {{item.Note}}
                        </td>
                    </tr>
                    <tr ng-show="item.isedit==true&&item.editmode!='Delete'"
                            ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td class="col-md-1" style="text-align:center">
                            <button class="btn btn-sm" ng-show="item.allowremove == true"
                                    ng-click="removeListIncomeDetail(item)" title="Delete"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </td>
                        <td class="col-md-1">
                            {{item.ProductName}}
                        </td>
                        <td class="col-md-1">
                            <input type="number" ng-model="item.UnitPrice" class="form-control col-md-12"
                                    ng-change="onChangeIncomeDetail_UnitPrice(item)"
                                    ng-class="[{'validateinput':item.valmanager.Get('UnitPrice').IsValid==false}]"/>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="item.valmanager.Get('UnitPrice').IsValid==false&&item.valmanager.Get('UnitPrice').ValMsg!=''">{{item.valmanager.Get('UnitPrice').ValMsg}}</span>
                            </div>
                        </td>
                        <td class="col-md-1">
                            <input type="number" ng-model="item.Quantity" class="form-control col-md-12"
                                    ng-change="onChangeIncomeDetail_Quantity(item)"
                                    ng-class="[{'validateinput':item.valmanager.Get('Quantity').IsValid==false}]"/>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="item.valmanager.Get('Quantity').IsValid==false&&item.valmanager.Get('Quantity').ValMsg!=''">{{item.valmanager.Get('Quantity').ValMsg}}</span>
                            </div>
                        </td>
                        <td class="col-md-1">
                            <input type="number" ng-model="item.Discount" class="form-control col-md-12"
                                    ng-change="onChangeIncomeDetail_Discount(item)"
                                    ng-class="[{'validateinput':item.valmanager.Get('Discount').IsValid==false}]"/>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="item.valmanager.Get('Discount').IsValid==false&&item.valmanager.Get('Discount').ValMsg!=''">{{item.valmanager.Get('Discount').ValMsg}}</span>
                            </div>
                        </td>
                        <td class="col-md-1">
                            <input type="text" ng-model="item.Total" class="form-control col-md-12"
                                    readonly="readonly"/>
                        </td>
                        <td class="col-md-4">
                            <input type="text" ng-model="item.Note" class="form-control col-md-12"/>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td class="col-md-1" style="text-align:center"></td>
                        <td class="col-md-4"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-1"></td>
                        <td class="col-md-1">
                            $ {{ IncomeVM.Income.Amount }}
                        </td>
                        <td class="col-md-4">

                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row formsection">
        <div class="col-md-12">
            <label class="formsectiontitle">Promotions</label>

            <a class="btn btn-default pull-right" ng-show="IncomeVM.Income!=null&&IncomeVM.Income.isedit"
                    ng-click="startAddIncomePromotion()"><i class="glyphicon glyphicon-plus" title="Add Promotion "></i>
                &nbsp; Add Promotion</a>
        </div>
        <div class="col-md-12">
            <div id="gridIncomePromotion" class='contenttable'>
                <table width="100%" class="table table-bordered table-hover" style="min-width:800px;">
                    <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align:center;">Promotion
                        </td>
                        <td class="k-header" style="text-align:center;">Description
                        </td>
                        <td class="k-header" style="text-align:center;">Note
                        </td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in IncomePromotionsVM.ArrIncomePromotion">
                    <tr ng-show="item.isedit==false&&item.editmode!='Delete'"
                            ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td style="text-align:center" class="col-md-1"></td>
                        <td class="col-md-2">
                            {{item.PromotionName}}
                        </td>
                        <td class="col-md-2">
                            {{ item.PromotionDescription }}
                        </td>
                        <td class="col-md-2">
                            {{item.Note}}
                        </td>
                    </tr>
                    <tr ng-show="item.isedit==true&&item.editmode!='Delete'"
                            ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td class="col-md-1" style="text-align:center">
                            <button class="btn btn-sm" ng-show="item.allowremove == true"
                                    ng-click="removeListIncomePromotion(item)" title="Delete"><i
                                    class="glyphicon glyphicon-trash"></i></button>
                        </td>
                        <td class="col-md-2">
                            <ui-select ng-model="item.PromotionName" theme="bootstrap"
                                    ng-change="onChangeIncomePromotion_PromotionName(item)">
                                <ui-select-match placeholder="Select Promotion">{{$select.selected.Name}}
                                </ui-select-match>
                                <ui-select-choices repeat="obj.Name as obj in PromotionsVM.ArrPromotion">
                                    <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>

                            <div class="col-md-12" style="color: Red">
                                <span ng-visible="item.valmanager.Get('PromotionName').IsValid==false&&item.valmanager.Get('PromotionName').ValMsg!=''">{{item.valmanager.Get('PromotionName').ValMsg}}</span>
                            </div>
                        </td>
                        <td class="col-md-2">
                            {{ item.PromotionDescription }}
                        </td>
                        <td class="col-md-2">
                            <input type="text" ng-model="item.Note" class="form-control col-md-12"/>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popupProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 5px 5px;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">Search Product</h5>
            </div>
            <div class="modal-body" ng-if="SearchProductsVM!=null">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-show="SearchProductsVM.Processing.GetProcessing('Products').Value">
                            <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul id="myTab" class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#tabproduct" aria-controls="product"
                                        role="tab" data-toggle="tab">Product</a></li>
                                <li role="presentation"><a href="#tabselectedproduct" aria-controls="incometracking"
                                        role="tab" data-toggle="tab">Selected ( {{
                                    SearchProductsVM.ArrSProduct.length}} )</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="tabproduct">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Type</label>
                                            <select ng-model="SearchProductsVM.GetSearchParam('Type').Value"
                                                    class="form-control" ng-change="SearchProductsVM.searchProducts()">
                                                <option value="">Select Type</option>
                                                <option value="Product">Product</option>
                                                <option value="Service">Service</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Name</label>
                                            <input type="text" ng-model="SearchProductsVM.GetSearchParam('Name').Value"
                                                    class="form-control" ng-change="SearchProductsVM.searchProducts()"/>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Category</label>
                                            <ui-select id="ctrlSearchCategory"
                                                    ng-model="SearchProductsVM.GetSearchParam('CategoryId').Value"
                                                    theme="bootstrap" ng-change="SearchProductsVM.searchProducts()">
                                                <ui-select-match placeholder="Select Category">
                                                    {{$select.selected.Name}}
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="obj.Id as obj in CategorysVM.ArrCategory|filter:{Name: $select.search}">
                                                    <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="contenttable">
                                                <table width="100%"
                                                        class="table table-bordered table-striped table-hover"
                                                        style="min-width:700px;">
                                                    <thead>
                                                    <tr>
                                                        <td class="k-header" style="text-align: center"></td>
                                                        <td class="k-header"
                                                                style="text-align: center; cursor: pointer">
                                                            Name
                                                        </td>
                                                        <td class="k-header"
                                                                style="text-align: center; cursor: pointer">
                                                            Item
                                                            Price
                                                        </td>
                                                        <td class="k-header"
                                                                style="text-align: center; cursor: pointer">
                                                            Stock
                                                            Unit
                                                        </td>

                                                    </tr>
                                                    </thead>
                                                    <tbody ng-repeat="item in SearchProductsVM.ArrProduct">
                                                    <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                                                        <td style="text-align: center" class="col-md-2">
                                                            <button class="btn btn-default"
                                                                    ng-click="selectProduct(item)" title="Add"><i
                                                                    class="glyphicon glyphicon-plus"></i>
                                                            </button>
                                                        </td>
                                                        <td class="col-md-3">
                                                            {{item.Name}}
                                                        </td>
                                                        <td class="col-md-2">
                                                            <span> $ {{ item.UnitPrice }}</span>
                                                        </td>
                                                        <td class="col-md-1">
                                                            {{ item.UnitsInStock }}
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <td colspan="4">
                                                            <div class="row">
                                                                <div class=" col-md-12">
                                                                    <div class="pull-right">
                                                                        <ul class="pagination">
                                                                            <li><a>Total <b>{{
                                                                                SearchProductsVM.Paging.TotalItems
                                                                                }}</b>
                                                                                items
                                                                                &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page
                                                                                <b>{{SearchProductsVM.Paging.PageIndex}}
                                                                                    /
                                                                                    {{SearchProductsVM.Paging.TotalPages
                                                                                    }}</b></a></li>
                                                                            <li ng-class="{disabled: SearchProductsVM.Paging.PageIndex==1}">
                                                                                <a ng-click="SearchProductsVM.gotoPrevPage()">&laquo;</a>
                                                                            </li>
                                                                            <li ng-repeat-start="page in SearchProductsVM.Paging.Pages"
                                                                                    ng-class="{active: page == SearchProductsVM.Paging.PageIndex}">
                                                                                <a ng-click="SearchProductsVM.gotoPage(page)">{{page}}</a>
                                                                            </li>
                                                                            <li ng-repeat-end class="divider"></li>
                                                                            <li ng-class="{disabled:SearchProductsVM.Paging.PageIndex >= SearchProductsVM.Paging.TotalPages}">
                                                                                <a ng-click="SearchProductsVM.gotoNextPage()">&raquo;</a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tabselectedproduct"
                                        style="padding-bottom: 10px;">
                                    <div class="contenttable">
                                        <table width="100%" class="table table-bordered table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <td class="k-header" style="text-align: center"></td>
                                                <td class="k-header" style="text-align: center; cursor: pointer">Name
                                                </td>
                                                <td class="k-header" style="text-align: center; cursor: pointer">Item
                                                    Price
                                                </td>
                                                <td class="k-header" style="text-align: center; cursor: pointer">Stock
                                                    Unit
                                                </td>

                                            </tr>
                                            </thead>
                                            <tbody ng-repeat="item in SearchProductsVM.ArrSProduct">
                                            <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                                                <td style="text-align: center" class="col-md-2">
                                                    <button class="btn btn-default" ng-click="unselectProduct(item)"
                                                            title="Add"><i class="glyphicon glyphicon-remove"></i>
                                                    </button>
                                                </td>
                                                <td class="col-md-3">
                                                    {{item.Name}}
                                                </td>
                                                <td class="col-md-2">
                                                    <span> $ {{ item.UnitPrice }}</span>
                                                </td>
                                                <td class="col-md-1">
                                                    {{ item.UnitsInStock }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-default" ng-click="finishAddPopupProduct()">Finish</button>
                    &nbsp;
                    <button type="button" class="btn  btn-default" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div></div>