<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row searchpanel" >
            <div class="col-md-3">
                     <label for="ctrlCustomer" >Customer</label>
                        <ui-select ng-model="IncomesVM.GetSearchParam('CustomerId').Value" theme="bootstrap" ng-change="searchIncomes()">
                            <ui-select-match placeholder="Select customer" allow-clear="true">{{$select.selected.DisplayName}}</ui-select-match>
                            <ui-select-choices repeat="obj.Id as obj in CustomersVM.ArrCustomer | filter: {DisplayName: $select.search}">
                                <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
            </div>
                    <div class="col-md-3" > <label for="ctrlStartDate" >Start Date</label> <input id="ctrlStartDate" ng-model="StartDate" type="date" class="form-control col-md-4" ng-change="searchIncomes()"/></div>
                    <div class="col-md-3" > <label for="ctrlEndDate" >End Date</label><input id="ctrlEndDate" ng-model="EndDate" type="date"  class="form-control col-md-4" ng-change="searchIncomes()"/></div>
                    <div class="col-md-3" >
                       <label class="control-label" for="ctrlType">Payment Type</label>
                        <select id="ctrlType" ng-model="IncomesVM.GetSearchParam('Type').Value" class="form-control" ng-change="searchIncomes()">
                            <option value="">All</option>
                            <option value="Nets">Nets</option>
                            <option value="Credit card">Credit card</option>
                            <option value="Cash">Cash</option>
                        </select>
                    </div>
          </div>

        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Incomes').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><a class="btn btn-default materialbutton" ui-sref="income.detail"><i
                    class="glyphicon glyphicon-plus" title="New"></i>Add Income</a></div>
        </div>
        <div class="row">
            <div class="contenttable">
                <table width="100%" class="table table-bordered table-striped table-hover" style="min-width:700px;">
                    <thead>
                        <tr>
                            <td class="k-header" style="text-align: center;">
                            </td>
                            <td class="k-header" style="text-align: center;cursor: pointer"   ng-click="IncomesVM.startSort('CustomerName')">Customer
                                <div ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='CustomerName'"
                                        class="pull-right">
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='CustomerName'&&IncomesVM.SortedField.Direction==true"><i
                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='CustomerName'&&IncomesVM.SortedField.Direction==false"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </td>
                            <td class="k-header" style="text-align: center;cursor: pointer " ng-click="IncomesVM.startSort('InvoiceNo')">Invoice
                                <div ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceNo'"
                                        class="pull-right">
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceNo'&&IncomesVM.SortedField.Direction==true"><i
                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceNo'&&IncomesVM.SortedField.Direction==false"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </td>
                            <td class="k-header" style="text-align: center;cursor: pointer" ng-click="IncomesVM.startSort('InvoiceDate')">Date
                                <div ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceDate'"
                                        class="pull-right">
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceDate'&&IncomesVM.SortedField.Direction==true"><i
                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='InvoiceDate'&&IncomesVM.SortedField.Direction==false"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </td>
                            <td class="k-header" style="text-align: center;cursor: pointer"  ng-click="IncomesVM.startSort('Amount')" >Total
                                <div ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Amount'"
                                        class="pull-right">
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Amount'&&IncomesVM.SortedField.Direction==true"><i
                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Amount'&&IncomesVM.SortedField.Direction==false"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </td>
                            <td class="k-header" style="text-align: center;cursor: pointer"  ng-click="IncomesVM.startSort('Type')" >Payment Type
                                <div ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Type'"
                                        class="pull-right">
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Type'&&IncomesVM.SortedField.Direction==true"><i
                                            class="glyphicon glyphicon-chevron-down"></i></a>
                                    <a ng-show="IncomesVM.SortedField!=null&&IncomesVM.SortedField.Name=='Type'&&IncomesVM.SortedField.Direction==false"><i
                                            class="glyphicon glyphicon-chevron-up"></i></a>
                                </div>
                            </td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in IncomesVM.ArrIncome | orderBy:'InvoiceDateF'">
                        <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                            <td style="text-align: center" class="col-md-1">
                                <button class="btn btn-default" ng-show="item.allowedit" ui-sref="income.detail({id:item.Id})" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            </td>
                           <td class="col-md-3">
                               {{item.CustomerName}}
                           </td>
                           <td class="col-md-2">
                               {{item.InvoiceNo}}
                           </td>
                          <td class="col-md-2">
                               {{item.InvoiceDateF}}
                          </td>
                           <td class="col-md-2">
                               $ {{item.Amount}}
                           </td>
                            <td class="col-md-2">
                                 {{item.Type}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="row">
                                    <div class="control-group col-md-4">
                                    </div>
                                    <div class=" col-md-6">
                                        <div class="pull-right">
                                            <ul class="pagination">
                                                <li><a>Total <b>{{ IncomesVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{IncomesVM.Paging.PageIndex}} / {{IncomesVM.Paging.TotalPages }}</b></a></li>
                                                <li ng-class="{disabled: IncomesVM.Paging.PageIndex==1}"><a ng-click="IncomesVM.gotoPrevPage()">&laquo;</a></li>
                                                <li ng-repeat-start="page in IncomesVM.Paging.Pages" ng-class="{active: page == IncomesVM.Paging.PageIndex}">
                                                    <a ng-click="IncomesVM.gotoPage(page)">{{page}}</a>
                                                </li>
                                                <li ng-repeat-end class="divider"></li>
                                                <li ng-class="{disabled:IncomesVM.Paging.PageIndex >= IncomesVM.Paging.TotalPages}"><a ng-click="IncomesVM.gotoNextPage()">&raquo;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
