<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body " >
        <div class="row searchpanel">
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlCustomer" >Customer</label></div>
                    <div class="col-md-8">
                        <ui-select id="ctrlCustomer" ng-model="IncomeDetailsVM.GetSearchParam('CustomerId').Value" theme="bootstrap" >
                            <ui-select-match placeholder="Select customer" allow-clear="true">{{$select.selected.DisplayName}}</ui-select-match>
                            <ui-select-choices repeat="obj.Id as obj in CustomersVM.ArrCustomer | filter: {DisplayName: $select.search}">
                                <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlInvoiceNo" >Invoice </label></div>
                    <div class="col-md-8"><input id="ctrlInvoiceNo"  type="text" class="form-control" ng-model="IncomeDetailsVM.GetSearchParam('InvoiceNo').Value"  />                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlInvoiceNo" >Payment Type </label></div>
                    <div class="col-md-8"> <select id="ctrlType" ng-model="IncomeDetailsVM.GetSearchParam('Income.Type').Value" class="form-control" >
                        <option value="">All</option>
                        <option value="Nets">Nets</option>
                        <option value="Credit card">Credit card</option>
                        <option value="Cash">Cash</option>
                    </select>
                    </div>
                </div>
                </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlStartDate" >Start Date</label></div><div class="col-md-8"> <input id="ctrlStartDate" ng-model="StartDate" type="date" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlEndDate" >End Date</label></div><div class="col-md-8" ><input id="ctrlEndDate" ng-model="EndDate" type="date"  class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlForDate" >For Date</label></div><div class="col-md-8" ><input id="ctrlForDate" ng-model="ForDate" type="date"  class="form-control" ng-change="onChangeForDate()" /></div>
                </div>
          </div>
            <div class="col-md-3">

                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlSearchCategory" >Category</label></div>
                    <div class="col-md-8">
                        <ui-select id="ctrlSearchCategory" ng-model="IncomeDetailsVM.GetSearchParam('Product.CategoryId').Value" theme="bootstrap"  >
                        <ui-select-match placeholder="Select Category"  allow-clear="true">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="obj.Id as obj in CategorysVM.ArrCategory|filter:{Name: $select.search}">
                            <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlProduct" >Product</label></div>
                    <div class="col-md-8">         <ui-select id="ctrlProduct" ng-model="IncomeDetailsVM.GetSearchParam('ProductId').Value" theme="bootstrap" >
                        <ui-select-match placeholder="Select Product" style="overflow: hidden"  allow-clear="true">{{$select.selected.Name}}</ui-select-match>
                        <ui-select-choices repeat="obj.Id as obj in ProductsVM.ArrProduct|filter:{CategoryId:IncomeDetailsVM.GetSearchParam('CategoryId').Value,Name: $select.search}">
                            <div ng-bind-html="obj.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlFromPrice" >From Price</label></div><div class="col-md-7"> <input id="ctrlFromPrice" ng-model="IncomeDetailsVM.GetSearchParam('FromPrice').Value" type="number" class="form-control" /></div>
                </div>
                <div class="row">
                    <div class="col-md-4" style="text-align: right;"> <label for="ctrlToPrice" >To Price</label></div><div class="col-md-7" ><input id="ctrlToPrice" ng-model="IncomeDetailsVM.GetSearchParam('ToPrice').Value" type="number"  class="form-control" /></div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
            <button ng-click="searchIncomeDetails()" class="btn btn-primary" style=""><i class="fa fa-search"></i> Search</button>
            <button ng-click="exportPdfIncomeDetails()" class="btn btn-default" style=""> <i class="fa fa-print"></i> Export to PDF</button>
             </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('IncomeDetails').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('Income.InvoiceDate')">Date
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceDate'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceDate'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceDate'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align: center;" >Customer

                        </td>
                        <td class="k-header" style="text-align: center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('Income.InvoiceNo')">Invoice
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceNo'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceNo'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.InvoiceNo'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('Product.Name')">Product
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Product.Name'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Product.Name'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Product.Name'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('UnitPrice')">Item Price
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('Quantity')">Quantity
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor: pointer" ng-click="IncomeDetailsVM.startSort('Discount')">Discount
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor:pointer" ng-click="IncomeDetailsVM.startSort('Total')">Total
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Total'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Total'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Total'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;cursor:pointer" ng-click="IncomeDetailsVM.startSort('Income.Type')">Payment Type
                            <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.Type'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.Type'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Income.Type'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align:center;">Note
                         <!--   <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'" class="pull-right">
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div> -->
                        </td>

                    </tr>
                </thead>
                <tbody ng-repeat="item in IncomeDetailsVM.ArrIncomeDetail">
                    <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td class="col-md-1">
                            {{item.InvoiceDateF}}
                        </td>
                       <td class="col-md-1">
                           {{item.CustomerName}}
                       </td>
                       <td class="col-md-1">
                         <strong><a ui-sref="income.detail({id:item.IncomeId})">  {{item.InvoiceNo}}</a></strong>
                       </td>
                        <td class="col-md-2">
                            {{item.ProductName}}
                        </td>
                        <td class="col-md-1">
                            $ {{item.UnitPrice}}
                        </td>
                        <td class="col-md-1">
                            {{item.Quantity}}
                        </td>
                        <td class="col-md-1">
                            {{item.Discount}}
                        </td>
                        <td class="col-md-1">
                            $ {{item.Total}}
                        </td>
                        <td class="col-md-1">
                            {{item.IncomeType}}
                        </td>
                        <td class="col-md-2">
                            {{item.Note}}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="row">
                                <div class="control-group col-md-4">
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ IncomeDetailsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{IncomeDetailsVM.Paging.PageIndex}} / {{IncomeDetailsVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: IncomeDetailsVM.Paging.PageIndex==1}"><a ng-click="IncomeDetailsVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in IncomeDetailsVM.Paging.Pages" ng-class="{active: page == IncomeDetailsVM.Paging.PageIndex}">
                                                <a ng-click="IncomeDetailsVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:IncomeDetailsVM.Paging.PageIndex >= IncomeDetailsVM.Paging.TotalPages}"><a ng-click="IncomeDetailsVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
