<div class="form-group"><label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Name"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Nickname</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Nickname"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Gender</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Gender"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Date Of Birth</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Dob"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Address</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Address"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">NIRC</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.NIRC"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Phone"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Email"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Job Title</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.JobTitle"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Is Vip?</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.IsVip"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Note</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Note"/></div>
</div>
<div class="form-group"><label class="col-sm-2 control-label">Status</label>
    <div class="col-sm-6"><input type="text" class="form-control input-sm" ng-model="model.Status"></div>
</div>