<div ng-init="ctrl.initData()">
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#tabprofile" aria-controls="profile" role="tab"
                    data-toggle="tab">Profile</a></li>
            <li role="presentation" ng-show="CustomerVM.Id>0"><a href="#tabincometracking" aria-controls="incometracking" role="tab"
                    data-toggle="tab">Income Tracking</a></li>
            <li role="presentation" ng-show="CustomerVM.Id>0"><a href="#tabmedia" aria-controls="media" role="tab"
                    data-toggle="tab">Photos</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tabprofile">
                <br/>

                <div class="row titleholder">
                    <div class="col-md-4">
                        <div class="moduletitle"></div>
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-default"
                                ng-show="CustomerVM.Customer.isedit==false&&CustomerVM.Customer.allowedit==true"
                                ng-click="startEditCustomer() "><i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit</a>
                        <a class="btn btn-default" ng-show="CustomerVM.Customer.isedit==true"
                                ng-click="finishEditCustomer()"><i class="glyphicon glyphicon-ok"></i>&nbsp;Save</a>&nbsp;
                        <a class="btn btn-default" ng-show="CustomerVM.Customer.isedit==true"
                                ng-click="cancelEditCustomer()"><i class="glyphicon glyphicon-refresh"></i>&nbsp;Cancel</a>
                        &nbsp;<a class="btn btn-default" ng-show="CustomerVM.Customer.allowdelete==true"
                            ng-click="removeCustomer()"><i class="glyphicon glyphicon-remove"></i>&nbsp;Delete</a>
                        &nbsp;<a ui-sref="customer.management" class="btn btn-default">Back</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-show="Processing.GetProcessing('Customer').Value">
                            <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-show="CustomerVM.Customer.isedit == false">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <label class="control-label">Name</label>
                                    {{CustomerVM.Customer.Title!=null?CustomerVM.Customer.Title + '.' +
                                    CustomerVM.Customer.FirstName + ' ' + CustomerVM.Customer.LastName:
                                    CustomerVM.Customer.FirstName + ' ' + CustomerVM.Customer.LastName}}
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Mobile</label>
                                    {{CustomerVM.Customer.Mobile}}
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Gender</label>
                                    {{CustomerVM.Customer.Gender}}
                                </div>
                                <div class="col-md-8">
                                    <label class="control-label">Dob</label>
                                    {{CustomerVM.Customer.DobF}}
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Email</label>
                                    {{CustomerVM.Customer.Email}}
                                </div>

                                <div class="col-md-12">
                                    <label class="control-label">NRIC</label>
                                    {{CustomerVM.Customer.Nric}}
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">Address</label>
                                    {{CustomerVM.Customer.AddressLine1}}
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label">IsLoyal &nbsp;</label>
                                    <i ng-show="CustomerVM.Customer.IsLoyal==true" class="fa fa-check text-success"></i>
                                    <i ng-show="CustomerVM.Customer.IsLoyal==false" class="fa fa-square text-success"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="CustomerVM.Customer.isedit == true">
                            <div class="col-md-8">
                                <div class="col-md-2">
                                    <label class="control-label" for="ctrlTitle">Title (*) </label>
                                    <select id="ctrlTitle" ng-model="CustomerVM.Customer.Title"
                                            ng-change="onChangeCustomer_Title(CustomerVM.Customer)"
                                            ng-class="[{'validateinput':ValManager().Get('Title').IsValid==false}]"
                                            class="form-control">
                                        <option value="Miss">Miss</option>
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Dr">Dr</option>
                                    </select>

                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="CustomerVM.Customer.valmanager.Get('Title').IsValid==false&&CustomerVM.Customer.valmanager.Get('Title').ValMsg!=''">{{CustomerVM.Customer.valmanager.Get('Title').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="ctrlFirstName">First Name (*)</label>
                                    <input id="ctrlFirstName" type="text" ng-model="CustomerVM.Customer.FirstName"
                                            ng-change="onChangeCustomer_FirstName(CustomerVM.Customer)"
                                            ng-class="[{'validateinput':ValManager().Get('FirstName').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="row" style="color: Red">
                                        <span ng-visible="CustomerVM.Customer.valmanager.Get('FirstName').IsValid==false&&CustomerVM.Customer.valmanager.Get('FirstName').ValMsg!=''">{{CustomerVM.Customer.valmanager.Get('FirstName').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" for="ctrlLastName">Last Name (*)</label>
                                    <input id="ctrlLastName" type="text" ng-model="CustomerVM.Customer.LastName"
                                            ng-change="onChangeCustomer_LastName(CustomerVM.Customer)"
                                            ng-class="[{'validateinput':ValManager().Get('LastName').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="row" style="color: Red">
                                        <span ng-visible="CustomerVM.Customer.valmanager.Get('LastName').IsValid==false&&CustomerVM.Customer.valmanager.Get('LastName').ValMsg!=''">{{CustomerVM.Customer.valmanager.Get('LastName').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlMobile">Mobile</label>
                                    <input id="ctrlMobile" type="text" ng-model="CustomerVM.Customer.Mobile"
                                            class="form-control col-md-12"/>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" for="ctrlGender">Gender</label>
                                    <select id="ctrlGender" type="text" ng-model="CustomerVM.Customer.Gender"
                                            class="form-control col-md-12">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <label class="control-label" for="ctrlDob">Birthday (*)</label>
                                    <input id="ctrlDob" type="date" ng-model="CustomerVM.Customer.Dob"
                                            ng-change="onChangeCustomer_Dob(CustomerVM.Customer)"
                                            ng-class="[{'validateinput':CustomerVM.Customer.valmanager.Get('Dob').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="row" style="color: Red">
                                        <span ng-visible="CustomerVM.Customer.valmanager.Get('Dob').IsValid==false&&CustomerVM.Customer.valmanager.Get('Dob').ValMsg!=''">{{CustomerVM.Customer.valmanager.Get('Dob').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlEmail">Email</label>
                                    <input id="ctrlEmail" type="text" ng-model="CustomerVM.Customer.Email"
                                            class="form-control col-md-12"/>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlNric">NRIC</label>
                                    <input id="ctrlNric" type="text" ng-model="CustomerVM.Customer.Nric"
                                            class="form-control col-md-12"/>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlAddressLine1">Address</label>
                                    <input id="ctrlAddressLine1" type="text" ng-model="CustomerVM.Customer.AddressLine1"
                                            class="form-control col-md-12"/>
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label" for="ctrlIsLoyal">IsLoyal</label>
                                    <input id="ctrlIsLoyal" type="checkbox" class="i-checks"
                                            ng-model="CustomerVM.Customer.IsLoyal"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabincometracking" style="padding-bottom: 10px;" ng-show="CustomerVM.Id>0">
                <div class="row">
                    <table width="100%" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <td class="k-header" style="text-align: center; ">
                                No
                            </td>
                            <td class="k-header" style="text-align: center; ">Invoice
                            </td>
                            <td class="k-header" style="text-align: center;">Date
                            </td>
                            <td class="k-header" style="text-align: center;">Total
                            </td>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in IncomesVM.ArrIncome">
                        <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                            <td class="col-md-1" style="text-align:center">
                                {{ ( IncomesVM.Paging.PageIndex-1)*IncomesVM.Paging.PageSize + $index+1 }}
                            </td>
                            <td class="col-md-2">
                                {{item.InvoiceNo}}
                            </td>
                            <td class="col-md-2">
                                {{item.InvoiceDateF}}
                            </td>
                            <td class="col-md-2">
                                $ {{item.Amount}}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4">
                                <div class="row">
                                    <div class="control-group col-md-4"></div>
                                    <div class=" col-md-8">
                                        <div class="pull-right">
                                            <ul class="pagination">
                                                <li><a>Total <b>{{ IncomesVM.Paging.TotalItems }}</b> items &nbsp;&nbsp;
                                                    &nbsp; &nbsp; &nbsp; Page <b>{{IncomesVM.Paging.PageIndex}} /
                                                        {{IncomesVM.Paging.TotalPages }}</b></a></li>
                                                <li ng-class="{disabled: IncomesVM.Paging.PageIndex==1}"><a
                                                        ng-click="IncomesVM.gotoPrevPage()">&laquo;</a></li>
                                                <li ng-repeat-start="page in IncomesVM.Paging.Pages"
                                                        ng-class="{active: page == IncomesVM.Paging.PageIndex}">
                                                    <a ng-click="IncomesVM.gotoPage(page)">{{page}}</a>
                                                </li>
                                                <li ng-repeat-end class="divider"></li>
                                                <li ng-class="{disabled:IncomesVM.Paging.PageIndex >= IncomesVM.Paging.TotalPages}">
                                                    <a ng-click="IncomesVM.gotoNextPage()">&raquo;</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabmedia" style="padding-bottom: 10px;" ng-show="CustomerVM.Id>0">
                <div class="row">
                    <div class="col-lg-12">
                        <br/>
                        <div class="btn btn-default" ngf-select ngf-change="upload($files)" ngf-accept="'image/*'"><i class="glyphicon glyphicon-upload"></i> &nbsp;Select & Upload a photo </div>
                    </div>
                </div>
                <br/>
                <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item" ng-repeat="item in MediasVM.ArrMedia"
                    ng-init="$('div.grid').masonry({ itemSelector: '.grid-item', columnWidth: '.grid-sizer' })">
                        <img alt="" class="image" ng-src="{{ item.FileUrl }}"/>
                        <a class="overlay" href="#"><div class="description"><p>{{ item.OriginName }}</p></div></a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-12">
                        <div class="pull-right">
                            <ul class="pagination">
                                <li><a>Total <b>{{ MediasVM.ArrMedia.length }}</b> items </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>