<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search"
                            ng-model="BookingsVM.GetSearchParam('SearchCode').Value"
                            ng-change="BookingsVM.searchBookings()"/>

                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="BookingsVM.searchBookings()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><a class="btn btn-default materialbutton" ng-click="startAddPopupBooking()"><i
                    class="glyphicon glyphicon-plus" title="New"></i>Add New Booking</a></div>
        </div>
        <br/>

        <div ng-show="Processing.GetProcessing('Bookings').Value" class="row"
                style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <td class="k-header" style="text-align: center"></td>
                    <td class="k-header" style="text-align: center; cursor: pointer"
                            ng-click="BookingsVM.startSort('RequiredAt')">Date
                        <div ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='RequiredAt'"
                                class="pull-right">
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='RequiredAt'&&BookingsVM.SortedField.Direction==true"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='RequiredAt'&&BookingsVM.SortedField.Direction==false"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </td>
                    <td class="k-header" style="text-align: center; cursor: pointer">Time

                    </td>
                    <td class="k-header" style="text-align: center; cursor: pointer"
                            ng-click="BookingsVM.startSort('CustomerName')">Customer
                        <div ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='CustomerName'"
                                class="pull-right">
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='CustomerName'&&BookingsVM.SortedField.Direction==true"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='CustomerName'&&BookingsVM.SortedField.Direction==false"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </td>
                    <td class="k-header" style="text-align: center; cursor: pointer"
                            ng-click="BookingsVM.startSort('Service')">Service
                        <div ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Service'"
                                class="pull-right">
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Service'&&BookingsVM.SortedField.Direction==true"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Service'&&BookingsVM.SortedField.Direction==false"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </td>
                    <td class="k-header" style="text-align: center; cursor: pointer"
                            ng-click="BookingsVM.startSort('Note')">Note
                        <div ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Note'"
                                class="pull-right">
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Note'&&BookingsVM.SortedField.Direction==true"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Note'&&BookingsVM.SortedField.Direction==false"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </td>
                    <td class="k-header" style="text-align: center; cursor: pointer"
                            ng-click="BookingsVM.startSort('Status')">Status
                        <div ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Status'"
                                class="pull-right">
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Status'&&BookingsVM.SortedField.Direction==true"><i
                                    class="glyphicon glyphicon-chevron-down"></i></a>
                            <a ng-show="BookingsVM.SortedField!=null&&BookingsVM.SortedField.Name=='Status'&&BookingsVM.SortedField.Direction==false"><i
                                    class="glyphicon glyphicon-chevron-up"></i></a>
                        </div>
                    </td>

                </tr>
                </thead>
                <tbody ng-repeat="item in BookingsVM.ArrBooking">
                <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                    <td style="text-align: center" class="col-md-1">
                        <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupBooking(item)"
                                title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeBooking(item)"
                                title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                    </td>
                    <td class="col-md-1">
                        {{item.RequiredAtF}}
                    </td>
                    <td class="col-md-1">

                        {{item.RequiredAtTimeF}}
                    </td>
                    <td class="col-md-3">
                        {{item.CustomerName}}<br/>
                        <i class="glyphicon glyphicon-phone"></i> {{item.CustomerPhone}}
                    </td>
                    <td class="col-md-2">
                        {{item.Service}}
                    </td>
                    <td class="col-md-3">
                        {{item.Note}}
                    </td>
                    <td class="col-md-1">
                        {{item.Status}}
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="row">
                            <div class="control-group col-md-4">
                                <div class="controls">

                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="pull-right">
                                    <ul class="pagination">
                                        <li><a>Total <b>{{ BookingsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp;
                                            &nbsp; &nbsp; Page <b>{{BookingsVM.Paging.PageIndex}} /
                                                {{BookingsVM.Paging.TotalPages }}</b></a></li>
                                        <li ng-class="{disabled: BookingsVM.Paging.PageIndex==1}"><a
                                                ng-click="BookingsVM.gotoPrevPage()">&laquo;</a></li>
                                        <li ng-repeat-start="page in BookingsVM.Paging.Pages"
                                                ng-class="{active: page == BookingsVM.Paging.PageIndex}">
                                            <a ng-click="BookingsVM.gotoPage(page)">{{page}}</a>
                                        </li>
                                        <li ng-repeat-end class="divider"></li>
                                        <li ng-class="{disabled:BookingsVM.Paging.PageIndex >= BookingsVM.Paging.TotalPages}">
                                            <a ng-click="BookingsVM.gotoNextPage()">&raquo;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal fade" id="popupBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Booking</h5>
                </div>
                <div class="modal-body" ng-if="BookingVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="BookingVM.Processing.GetProcessing('Booking').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="BookingVM.Booking.isedit == true">
                                <div class="col-md-12" ng-show="BookingVM.Booking.Id == null">
                                    <label class="control-label" for="ctrlCustomerId">Customer (*) </label>
                                    <ui-select id="ctrlCustomerId" ng-model="BookingVM.Booking.CustomerId"
                                            theme="bootstrap" ng-change="onChangeBooking_CustomerId(BookingVM.Booking)">
                                        <ui-select-match placeholder="Select customer">
                                            {{$select.selected.DisplayName}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="obj.Id as obj in CustomersVM.ArrCustomer | filter: {DisplayName: $select.search}">
                                            <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('CustomerId').IsValid==false&&BookingVM.Booking.valmanager.Get('CustomerId').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('CustomerId').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12"
                                        ng-show="BookingVM.Booking.CustomerId==1&&BookingVM.Booking.Id == null">
                                    <label class="control-label" for="ctrlCustomerName">Customer Name (*) </label>
                                    <input id="ctrlCustomerName" ng-model="BookingVM.Booking.CustomerName"
                                            theme="bootstrap"
                                            ng-change="onChangeBooking_CustomerName(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('CustomerName').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('CustomerName').IsValid==false&&BookingVM.Booking.valmanager.Get('CustomerName').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('CustomerName').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12"
                                        ng-show="BookingVM.Booking.CustomerId==1&&BookingVM.Booking.Id == null">
                                    <label class="control-label" for="ctrlCustomerPhone">Customer Phone (*) </label>
                                    <input id="ctrlCustomerPhone" ng-model="BookingVM.Booking.CustomerPhone"
                                            theme="bootstrap"
                                            ng-change="onChangeBooking_CustomerPhone(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('CustomerPhone').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('CustomerPhone').IsValid==false&&BookingVM.Booking.valmanager.Get('CustomerPhone').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('CustomerPhone').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12"
                                        ng-show="BookingVM.Booking.Id > 0">
                                    <label class="control-label" for="ctrlCustomerPhone">Customer Name </label>
                                    <span>{{BookingVM.Booking.CustomerName}}</span>
                                </div>
                                <div class="col-md-12"
                                        ng-show="BookingVM.Booking.Id > 0">
                                    <label class="control-label" for="ctrlCustomerPhone">Customer Phone </label>
                                    <span>{{BookingVM.Booking.CustomerPhone}}</span>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="ctrlRequiredAtDate">Date (*)</label>
                                    <input id="ctrlRequiredAtDate" type="date" ng-model="BookingVM.Booking.RequiredAt"
                                            class="form-control col-md-12"
                                            ng-change="onChangeBooking_RequiredAt(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('RequiredAt').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('RequiredAt').IsValid==false&&BookingVM.Booking.valmanager.Get('RequiredAt').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('RequiredAt').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="ctrlRequiredAtTime">Time (*)</label>
                                    <input id="ctrlRequiredAtTime" type="time"
                                            ng-model="BookingVM.Booking.RequiredAtTime" class="form-control col-md-12"
                                            ng-change="onChangeBooking_RequiredAtTime(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('RequiredAtTime').IsValid==false}]"/>

                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('RequiredAtTime').IsValid==false&&BookingVM.Booking.valmanager.Get('RequiredAtTime').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('RequiredAtTime').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlService">Service (*)</label>
                                    <input id="ctrlService" type="text" ng-model="BookingVM.Booking.Service"
                                            ng-change="onChangeBooking_Service(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('Service').IsValid==false}]"
                                            class="form-control"/>

                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('Service').IsValid==false&&BookingVM.Booking.valmanager.Get('Service').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('Service').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlNote">Note </label>
                                <textarea id="ctrlNote" type="text" cols="30" rows="5" ng-model="BookingVM.Booking.Note"
                                        class="form-control col-md-12" class="form-control"></textarea>

                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" for="ctrlStatus">Status (*)</label>
                                    <select id="ctrlStatus" ng-model="BookingVM.Booking.Status"
                                            class="form-control col-md-4"
                                            ng-change="onChangeBooking_Status(BookingVM.Booking)"
                                            ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('Status').IsValid==false}]">
                                        <option value="New">New</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Canceled">Canceled</option>
                                    </select>

                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('Status').IsValid==false&&BookingVM.Booking.valmanager.Get('Status').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('Status').ValMsg}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="BookingVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupBooking()">Save</button>
                        &nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
