<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="IncomeDetailsVM.GetSearchParam('SearchCode').Value" ng-change="IncomeDetailsVM.searchIncomeDetails()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="IncomeDetailsVM.searchIncomeDetails()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('IncomeDetails').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('IncomeId')">IncomeId  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='IncomeId'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='IncomeId'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='IncomeId'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('ProductId')">ProductId  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='ProductId'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='ProductId'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='ProductId'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('Quantity')">Quantity  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Quantity'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('UnitPrice')">UnitPrice  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='UnitPrice'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('Discount')">Discount  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Discount'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="IncomeDetailsVM.startSort('Note')">Note  
                              <div ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'" class="pull-right">
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'&&IncomeDetailsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="IncomeDetailsVM.SortedField!=null&&IncomeDetailsVM.SortedField.Name=='Note'&&IncomeDetailsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in IncomeDetailsVM.ArrIncomeDetail">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupIncomeDetail(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeIncomeDetail(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.IncomeName}}
                       </td>
                       <td class="col-md-2">
                           {{item.ProductName}}
                       </td>
                       <td class="col-md-2">
                           {{item.Quantity}}
                       </td>
                       <td class="col-md-2">
                           {{item.UnitPrice}}
                       </td>
                       <td class="col-md-2">
                           {{item.Discount}}
                       </td>
                       <td class="col-md-2">
                           {{item.Note}}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default" ng-click="startAddPopupIncomeDetail()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ IncomeDetailsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{IncomeDetailsVM.Paging.PageIndex}} / {{IncomeDetailsVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: IncomeDetailsVM.Paging.PageIndex==1}"><a ng-click="IncomeDetailsVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in IncomeDetailsVM.Paging.Pages" ng-class="{active: page == IncomeDetailsVM.Paging.PageIndex}">
                                                <a ng-click="IncomeDetailsVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:IncomeDetailsVM.Paging.PageIndex >= IncomeDetailsVM.Paging.TotalPages}"><a ng-click="IncomeDetailsVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupIncomeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">IncomeDetail</h5>
                </div>
                <div class="modal-body" ng-if="IncomeDetailVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="IncomeDetailVM.Processing.GetProcessing('IncomeDetail').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="IncomeDetailVM.IncomeDetail.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlIncomeId">IncomeId</label>
                           <select id="ctrlIncomeId" ng-model = "IncomeDetailVM.IncomeDetail.IncomeId" ng-options="obj.Name as obj.Id for obj in IncomesVM.ArrIncome"></select>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlProductId">ProductId</label>
                           <select id="ctrlProductId" ng-model = "IncomeDetailVM.IncomeDetail.ProductId" ng-options="obj.Name as obj.Id for obj in ProductsVM.ArrProduct"></select>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlQuantity">Quantity</label>
                           <input id="ctrlQuantity" type="number" ng-model = "IncomeDetailVM.IncomeDetail.Quantity" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlUnitPrice">UnitPrice</label>
                           <input id="ctrlUnitPrice" type="number" ng-model = "IncomeDetailVM.IncomeDetail.UnitPrice" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlDiscount">Discount</label>
                           <input id="ctrlDiscount" type="number" ng-model = "IncomeDetailVM.IncomeDetail.Discount" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlNote">Note</label>
                           <input id="ctrlNote" type = "text" ng-model = "IncomeDetailVM.IncomeDetail.Note"  class="form-control col-md-12" />
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="IncomeDetailVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupIncomeDetail()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
