<!--div ui-calendar ng-model="events"></div-->
<div class="container-fluid" ng-init="ctrl.initData()">
    <div class="col-lg-8">
        <h3>Today Booking ( {{DisplayDate}} )</h3>
        <div ng-show="Processing.GetProcessing('Bookings').Value" class="row"
                style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
            </div>
        </div>
        <ul class="list-group " ng-repeat="item in BookingsVM.ArrBooking">
                <li class="list-group-item"><span class="badge">{{item.RequiredAtTimeF}}</span>
                    <a ng-click="startEditPopupBooking(item)">{{item.CustomerName}}. Service: <i>{{item.Service}}</i> </a></li>
        </ul>
        <ul class="pagination">
            <li><a>Total <b>{{ BookingsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp;
                &nbsp; &nbsp; Page <b>{{BookingsVM.Paging.PageIndex}} /
                    {{BookingsVM.Paging.TotalPages }}</b></a></li>
            <li ng-class="{disabled: BookingsVM.Paging.PageIndex==1}"><a
                    ng-click="BookingsVM.gotoPrevPage()">&laquo;</a></li>
            <li ng-repeat-start="page in BookingsVM.Paging.Pages"
                    ng-class="{active: page == BookingsVM.Paging.PageIndex}">
                <a ng-click="BookingsVM.gotoPage(page)">{{page}}</a>
            </li>
            <li ng-repeat-end class="divider"></li>
            <li ng-class="{disabled:BookingsVM.Paging.PageIndex >= BookingsVM.Paging.TotalPages}">
                <a ng-click="BookingsVM.gotoNextPage()">&raquo;</a></li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="incomeShortcut">
            <h3>Shorcuts</h3>
            <div class="pull-left">
                <p><a class="btn btn-default"
                    ui-sref="income.detail({productName: 'hair-wash'})"><i class="glyphicon glyphicon-plus"
                    title="Add Income Detail"></i> &nbsp; Add "Hair Wash" Income</a></p>
                <p><a class="btn btn-default"
                    ng-click="startAddPopupBooking()"><i class="glyphicon glyphicon-plus"
                    title="Add Income Detail"></i> &nbsp; Add New Booking</a></p>
				 <p><a class="btn btn-default"
                    ui-sref="income.detail({hairWalkIn: 'hairWalkIn'})"><i class="glyphicon glyphicon-plus"
                    title="Add Income Detail"></i> &nbsp;  Add Cut Hair Walk-in</a></p>   
                 <a class="btn btn-default"
                    ui-sref="cusbooking.register"><i class="glyphicon glyphicon-plus"
                    title="Add Income Detail"></i> &nbsp;  Contact</a>        
                    
            </div>
        </div>
    </div>
    <div class="modal fade" id="popupBooking" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Booking</h5>
                </div>
                <div class="modal-body" ng-if="BookingVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="BookingVM.Processing.GetProcessing('Booking').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg" width="64" height="64" alt="Loading..."/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="BookingVM.Booking.isedit == true">
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlCustomerId">Customer (*) </label>
                                    <ui-select ng-model="BookingVM.Booking.CustomerId" theme="bootstrap" ng-change="onChangeBooking_CustomerId(BookingVM.Booking)">
                                        <ui-select-match placeholder="Select customer" >{{$select.selected.DisplayName}}</ui-select-match>
                                        <ui-select-choices repeat="obj.Id as obj in CustomersVM.ArrCustomer | filter: {DisplayName: $select.search}">
                                            <div ng-bind-html="obj.DisplayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <div class="col-md-12" style="color: Red">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('CustomerId').IsValid==false&&BookingVM.Booking.valmanager.Get('CustomerId').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('CustomerId').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlCustomerPhone">Phone (*)</label>
                                    <input id="ctrlCustomerPhone" type="text" ng-model="BookingVM.Booking.CustomerPhone"
                                            class="form-control col-md-12" ng-change="onChangeBooking_CustomerPhone(BookingVM.Booking)" ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('CustomerPhone').IsValid==false}]" />
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('CustomerPhone').IsValid==false&&BookingVM.Booking.valmanager.Get('CustomerPhone').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('CustomerPhone').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="ctrlRequiredAtDate">Date (*)</label>
                                    <input id="ctrlRequiredAtDate" type="date" ng-model="BookingVM.Booking.RequiredAt"
                                            class="form-control col-md-12" ng-change="onChangeBooking_RequiredAt(BookingVM.Booking)" ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('RequiredAt').IsValid==false}]"  class="form-control" />
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('RequiredAt').IsValid==false&&BookingVM.Booking.valmanager.Get('RequiredAt').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('RequiredAt').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="ctrlRequiredAtTime">Time (*)</label>
                                    <input id="ctrlRequiredAtTime" type="time" ng-model="BookingVM.Booking.RequiredAtTime"
                                            class="form-control col-md-12" ng-change="onChangeBooking_RequiredAtTime(BookingVM.Booking)" ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('RequiredAtTime').IsValid==false}]" />
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('RequiredAtTime').IsValid==false&&BookingVM.Booking.valmanager.Get('RequiredAtTime').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('RequiredAtTime').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlService">Service (*)</label>
                                    <input id="ctrlService" type="text" ng-model="BookingVM.Booking.Service" ng-change="onChangeBooking_Service(BookingVM.Booking)" ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('Service').IsValid==false}]" class="form-control" />
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('Service').IsValid==false&&BookingVM.Booking.valmanager.Get('Service').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('Service').ValMsg}}</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlNote">Note </label>
                                <textarea id="ctrlNote" type="text" cols="30" rows="5" ng-model="BookingVM.Booking.Note"
                                        class="form-control col-md-12"  class="form-control" ></textarea>

                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" for="ctrlStatus">Status (*)</label>
                                    <select id="ctrlStatus" ng-model="BookingVM.Booking.Status" class="form-control col-md-4" ng-change="onChangeBooking_Status(BookingVM.Booking)" ng-class="[{'validateinput':BookingVM.Booking.valmanager.Get('Status').IsValid==false}]" >

                                        <option value="1">New</option>
                                        <option value="2">Process</option>
                                        <option value="3">Cancel</option>
                                    </select>
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="BookingVM.Booking.valmanager.Get('Status').IsValid==false&&BookingVM.Booking.valmanager.Get('Status').ValMsg!=''">{{BookingVM.Booking.valmanager.Get('Status').ValMsg}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="BookingVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupBooking()">Save</button>
                        &nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
