<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="ExpensesVM.GetSearchParam('SearchCode').Value" ng-change="ExpensesVM.searchExpenses()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="ExpensesVM.searchExpenses()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Expenses').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('CustomerId')">CustomerId  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='CustomerId'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='CustomerId'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='CustomerId'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('Type')">Type  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Type'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Type'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Type'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('InvoiceNo')">InvoiceNo  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceNo'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceNo'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceNo'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('InvoiceDate')">InvoiceDate  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceDate'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceDate'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='InvoiceDate'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('DueDate')">DueDate  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='DueDate'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='DueDate'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='DueDate'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('Amount')">Amount  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Amount'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Amount'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Amount'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('Description')">Description  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Description'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Description'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Description'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ExpensesVM.startSort('Status')">Status  
                              <div ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Status'" class="pull-right">
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Status'&&ExpensesVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ExpensesVM.SortedField!=null&&ExpensesVM.SortedField.Name=='Status'&&ExpensesVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in ExpensesVM.ArrExpense">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupExpense(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeExpense(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.CustomerName}}
                       </td>
                       <td class="col-md-2">
                           {{item.Type}}
                       </td>
                       <td class="col-md-2">
                           {{item.InvoiceNo}}
                       </td>
                      <td class="col-md-1">
                           {{item.InvoiceDateF}}
                      </td>
                      <td class="col-md-1">
                           {{item.DueDateF}}
                      </td>
                       <td class="col-md-2">
                           {{item.Amount}}
                       </td>
                       <td class="col-md-2">
                           {{item.Description}}
                       </td>
                       <td class="col-md-2">
                           {{item.Status}}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default" ng-click="startAddPopupExpense()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ ExpensesVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{ExpensesVM.Paging.PageIndex}} / {{ExpensesVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: ExpensesVM.Paging.PageIndex==1}"><a ng-click="ExpensesVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in ExpensesVM.Paging.Pages" ng-class="{active: page == ExpensesVM.Paging.PageIndex}">
                                                <a ng-click="ExpensesVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:ExpensesVM.Paging.PageIndex >= ExpensesVM.Paging.TotalPages}"><a ng-click="ExpensesVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupExpense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Expense</h5>
                </div>
                <div class="modal-body" ng-if="ExpenseVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="ExpenseVM.Processing.GetProcessing('Expense').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="ExpenseVM.Expense.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlCustomerId">CustomerId</label>
                           <select id="ctrlCustomerId" ng-model = "ExpenseVM.Expense.CustomerId" ng-options="obj.Name as obj.Id for obj in CustomersVM.ArrCustomer"></select>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlType">Type</label>
                           <input id="ctrlType" type = "text" ng-model = "ExpenseVM.Expense.Type"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlInvoiceNo">InvoiceNo</label>
                           <input id="ctrlInvoiceNo" type = "text" ng-model = "ExpenseVM.Expense.InvoiceNo"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label  class="control-label" for="ctrlInvoiceDate">InvoiceDate</label>
                               <input id="ctrlInvoiceDate" type="date" ng-model="ExpenseVM.Expense.InvoiceDate"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label  class="control-label" for="ctrlDueDate">DueDate</label>
                               <input id="ctrlDueDate" type="date" ng-model="ExpenseVM.Expense.DueDate"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlAmount">Amount</label>
                           <input id="ctrlAmount" type="number" ng-model = "ExpenseVM.Expense.Amount" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlDescription">Description</label>
                           <input id="ctrlDescription" type = "text" ng-model = "ExpenseVM.Expense.Description"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlStatus">Status</label>
                           <input id="ctrlStatus" type = "text" ng-model = "ExpenseVM.Expense.Status"  class="form-control col-md-12" />
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="ExpenseVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupExpense()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
