<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="ProductsVM.GetSearchParam('SearchCode').Value" ng-change="ProductsVM.searchProducts()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="ProductsVM.searchProducts()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div  class="row">
            <div class="col-md-12">
                <a class="btn btn-default materialbutton" ng-click="startAddPopupProduct()"><i class="glyphicon glyphicon-plus" title="New"></i>Add New Product</a>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Products').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ProductsVM.startSort('Type')">Type
                            <div ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Type'" class="pull-right">
                                <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Type'&&ProductsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Type'&&ProductsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ProductsVM.startSort('Name')">Name
                              <div ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Name'" class="pull-right">
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Name'&&ProductsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='Name'&&ProductsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>

                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ProductsVM.startSort('CategoryId')">Category
                            <div ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='CategoryId'" class="pull-right">
                                <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='CategoryId'&&ProductsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='CategoryId'&&ProductsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                            </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ProductsVM.startSort('UnitPrice')">Item Price
                              <div ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitPrice'" class="pull-right">
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitPrice'&&ProductsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitPrice'&&ProductsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="ProductsVM.startSort('UnitsInStock')">Stock Unit
                              <div ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitsInStock'" class="pull-right">
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitsInStock'&&ProductsVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="ProductsVM.SortedField!=null&&ProductsVM.SortedField.Name=='UnitsInStock'&&ProductsVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>

                    </tr>
                </thead>
                <tbody ng-repeat="item in ProductsVM.ArrProduct">
                    <tr ng-class="{'normalrow':(($index%2)==0),'alternativerow':($index%2!=0)}">
                        <td style="text-align: center" class="col-md-2">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupProduct(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeProduct(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                        <td class="col-md-2">
                            {{item.Type}}
                        </td>
                       <td class="col-md-3">
                           {{item.Name}}
                       </td>
                        <td class="col-md-2">
                            {{ item.CategoryName }}
                        </td>
                       <td class="col-md-2">
                           <span> $ {{ item.UnitPrice }}</span>
                       </td>
                       <td class="col-md-1">
                           {{ item.UnitsInStock }}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">

                                    </div>
                                </div>
                                <div class=" col-md-6">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ ProductsVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{ProductsVM.Paging.PageIndex}} / {{ProductsVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: ProductsVM.Paging.PageIndex==1}"><a ng-click="ProductsVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in ProductsVM.Paging.Pages" ng-class="{active: page == ProductsVM.Paging.PageIndex}">
                                                <a ng-click="ProductsVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:ProductsVM.Paging.PageIndex >= ProductsVM.Paging.TotalPages}"><a ng-click="ProductsVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Product</h5>
                </div>
                <div class="modal-body" ng-if="ProductVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="ProductVM.Processing.GetProcessing('Product').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="ProductVM.Product.isedit == true">
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlType">Type (*)</label>
                                    <select id="ctrlType" type="text" ng-model="ProductVM.Product.Type"  ng-change="onChangeProduct_Type(ProductVM.Product)" ng-class="[{'validateinput':ValManager().Get('Type').IsValid==false}]" class="form-control" >
                                        <option value="Product">Product</option>
                                        <option value="Service">Service</option>
                                    </select>
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="ProductVM.Product.valmanager.Get('Type').IsValid==false&&ProductVM.Product.valmanager.Get('Type').ValMsg!=''">{{ProductVM.Product.valmanager.Get('Type').ValMsg}}</span>
                                    </div>
                                </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlName">Name (*)</label>
                               <input id="ctrlName" type="text" ng-model="ProductVM.Product.Name"  ng-change="onChangeProduct_Name(ProductVM.Product)" ng-class="[{'validateinput':ValManager().Get('Name').IsValid==false}]" class="form-control" />
                               <div class="col-md-12" style="color: Red" data-bind="with:">
                                    <span ng-visible="ProductVM.Product.valmanager.Get('Name').IsValid==false&&ProductVM.Product.valmanager.Get('Name').ValMsg!=''">{{ProductVM.Product.valmanager.Get('Name').ValMsg}}</span>
                               </div>
                       </div>
                                <div class="col-md-12">
                                    <label class="control-label" for="ctrlCategoryId">Category (*)</label>
                                    <select id="ctrlCategoryId" ng-model = "ProductVM.Product.CategoryId" ng-options="item.Id as item.Name for item in CategorysVM.ArrCategory" ng-change="onChangeProduct_CategoryId(ProductVM.Product)" ng-class="[{'validateinput':ValManager().Get('CategoryId').IsValid==false}]" class="form-control" />
                                    <div class="col-md-12" style="color: Red" data-bind="with:">
                                        <span ng-visible="ProductVM.Product.valmanager.Get('CategoryId').IsValid==false&&ProductVM.Product.valmanager.Get('CategoryId').ValMsg!=''">{{ProductVM.Product.valmanager.Get('CategoryId').ValMsg}}</span>
                                    </div>
                                </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlUnitPrice">Item Price</label>
                           <input id="ctrlUnitPrice" type="number" ng-model = "ProductVM.Product.UnitPrice" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlUnitsInStock">Stock Unit</label>
                           <input id="ctrlUnitsInStock" type="number" ng-model = "ProductVM.Product.UnitsInStock" class="form-control col-md-12" />
                       </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="ProductVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupProduct()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
