<div class="animate-panel" ng-init="ctrl.initData()">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" placeholder="search" ng-model="CategorysVM.GetSearchParam('SearchCode').Value" ng-change="CategorysVM.searchCategorys()" />
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="CategorysVM.searchCategorys()">
                            <i class="glyphicon glyphicon-search"></i>Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div ng-show="Processing.GetProcessing('Categorys').Value" class="row" style="z-index: 2000; position: absolute; left: 50%">
            <div class="col-md-5 col-md-offset-5">
                <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
            </div>
        </div>
        <div class="row">
            <table width="100%" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <td class="k-header" style="text-align: center"></td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('Name')">Name  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Name'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Name'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Name'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('Description')">Description  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Description'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Description'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Description'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('Left')">Left  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Left'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Left'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Left'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('Right')">Right  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Right'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Right'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Right'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('Depth')">Depth  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Depth'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Depth'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='Depth'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                        <td class="k-header" style="text-align: center; cursor: pointer" ng-click="CategorysVM.startSort('ParentId')">ParentId  
                              <div ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='ParentId'" class="pull-right">
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='ParentId'&&CategorysVM.SortedField.Direction==true"><i class="glyphicon glyphicon-chevron-down"></i></a>
                                  <a ng-show="CategorysVM.SortedField!=null&&CategorysVM.SortedField.Name=='ParentId'&&CategorysVM.SortedField.Direction==false"><i class="glyphicon glyphicon-chevron-up"></i></a>
                              </div>
                        </td>
                    </tr>
                </thead>
                <tbody ng-repeat="item in CategorysVM.ArrCategory">
                    <tr >
                        <td style="text-align: center" class="col-md-1">
                            <button class="btn btn-default" ng-show="item.allowedit" ng-click="startEditPopupCategory(item)" title="Edit"><i class="glyphicon glyphicon-pencil"></i></button>
                            <button class="btn btn-default" ng-show="item.allowremove" ng-click="removeCategory(item)" title="Remove"><i class="glyphicon glyphicon-trash"></i></button>
                        </td>
                       <td class="col-md-2">
                           {{item.Name}}
                       </td>
                       <td class="col-md-2">
                           {{item.Description}}
                       </td>
                       <td class="col-md-2">
                           {{item.Left}}
                       </td>
                       <td class="col-md-2">
                           {{item.Right}}
                       </td>
                       <td class="col-md-2">
                           {{item.Depth}}
                       </td>
                       <td class="col-md-2">
                           {{item.ParentName}}
                       </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="row">
                                <div class="control-group col-md-4">
                                    <div class="controls">
                                        <a class="btn btn-default materialbutton" ng-click="startAddPopupCategory()"><i class="glyphicon glyphicon-plus" title="New"></i>New</a>
                                    </div>
                                </div>
                                <div class=" col-md-8">
                                    <div class="pull-right">
                                        <ul class="pagination">
                                            <li><a>Total <b>{{ CategorysVM.Paging.TotalItems }}</b> items &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; Page <b>{{CategorysVM.Paging.PageIndex}} / {{CategorysVM.Paging.TotalPages }}</b></a></li>
                                            <li ng-class="{disabled: CategorysVM.Paging.PageIndex==1}"><a ng-click="CategorysVM.gotoPrevPage()">&laquo;</a></li>
                                            <li ng-repeat-start="page in CategorysVM.Paging.Pages" ng-class="{active: page == CategorysVM.Paging.PageIndex}">
                                                <a ng-click="CategorysVM.gotoPage(page)">{{page}}</a>
                                            </li>
                                            <li ng-repeat-end class="divider"></li>
                                            <li ng-class="{disabled:CategorysVM.Paging.PageIndex >= CategorysVM.Paging.TotalPages}"><a ng-click="CategorysVM.gotoNextPage()">&raquo;</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   <div class="modal fade" id="popupCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding: 10px 10px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Category</h5>
                </div>
                <div class="modal-body" ng-if="CategoryVM!=null">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="CategoryVM.Processing.GetProcessing('Category').Value">
                                <div class="col-md-6 col-md-offset-6" style="position: absolute">
                                    <img src="images/loading-bars.svg"  width="64" height="64" alt="Loading..." />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" ng-show="CategoryVM.Category.isedit == true">
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlName">Name</label>
                               <input id="ctrlName" type="text" ng-model="CategoryVM.Category.Name"  ng-change="onChangeCategory_Name(CategoryVM.Category)" ng-class="[{'validateinput':ValManager().Get('Name').IsValid==false}]" class="form-control" />
                               <div class="row" style="color: Red" data-bind="with:">
                                    <span ng-visible="CategoryVM.Category.valmanager.Get('Name').IsValid==false&&CategoryVM.Category.valmanager.Get('Name').ValMsg!=''">{{CategoryVM.Category.valmanager.Get('Name').ValMsg}}</span>
                               </div>
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlDescription">Description</label>
                           <input id="ctrlDescription" type = "text" ng-model = "CategoryVM.Category.Description"  class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlLeft">Left</label>
                           <input id="ctrlLeft" type="number" ng-model = "CategoryVM.Category.Left" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlRight">Right</label>
                           <input id="ctrlRight" type="number" ng-model = "CategoryVM.Category.Right" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlDepth">Depth</label>
                           <input id="ctrlDepth" type="number" ng-model = "CategoryVM.Category.Depth" class="form-control col-md-12" />
                       </div>
                       <div class="col-md-12">
                           <label class="control-label" for="ctrlParentId">ParentId</label>
                           <select id="ctrlParentId" ng-model = "CategoryVM.Category.ParentId" ng-options="item.name for item in ParentsVM.ArrParent track by obj.Id"></select>
                       </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" ng-if="CategoryVM!=null">
                    <div class="pull-right">
                        <button class="btn btn-default" ng-click="finishEditPopupCategory()">Save</button>&nbsp;
                        <button type="button" class="btn  btn-default" data-dismiss="modal">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
